
  <div id="preview" class="preview">
      <div style="display: none;"></div>
          <div>
              <div data-draggable="true" style="position: relative;">
                  <!----><!---->
                  <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                      <section class="mb-10"> 
                          <!-- Background image -->
                    <div class="p-5 text-center bg-image" style=" background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); height: 500px; background-size: cover; background-position: 50% 50%; background-color: rgb(255, 255, 255);" aria-controls="#picker-editor">
                    </div> 
                              <!-- Background image -->
                              <div class="container"> 
                                  <div class="card mx-4 mx-md-5 text-center shadow-5-strong" style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); "> 
                                      <div class="card-body px-4 py-5 px-md-5">
                                            <h1 class="display-3 fw-bold ls-tight mb-4">  
                                                <span>Gerencie seu estoque com a</span>
                                                <br> <span style="color:#20235a;">Morning Star</span> 
                                            </h1>
                                            <a class="btn btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" role="button" style="color:white; background-color:#20235a">
                                                Cadastrar
                                            </a>
                                        
                                      </div>
                                  </div> 
                              </div> 
                      </section>
                   </section><!---->
               </div>
          <div data-draggable="true" style="position: relative;">
              <!----><!---->
           </div>
          </div>
</div>
